body { padding-top: 5px; padding-bottom: 5px; }

/* Set padding to keep content from hitting the edges */
.body-content { padding-left: 15px; padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea { max-width: 280px; }

.fileUpload { position: relative; overflow: hidden; margin-bottom: 5px; margin-top:5px; }
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
.deleteDiv{ position:relative; top:-160px; left:130px; width:30px;height:30px;}
.imageBlock{display: inline-block;}
.thumb{width:159px; height:159px;}
.deleteIcon{width:30px; height:30px;}
